/* frontend/src/pages/HomePage.css */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  position: relative; /* Make sure this is here for bubbles */
}

.logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logo-link img {
  width: 15rem;
  height: auto;
  display: block; /* Add this line to ensure the animation works */
  animation: float 3s ease-in-out infinite;
}

.logo-link p {
  margin-top: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

/* This is the keyframes animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}